{{#each this}}
<div class="photo-card">
  <a class="image" href="{{largeImageURL}}">
    <img class="gallery-img" src="{{webformatURL}}" alt="{{tags}}" loading="lazy" width="455" height="250"/>
  </a>
  
  <div class="info">
    <p class="info-item">
      <b>Likes: {{likes}}</b>
    </p>
    <p class="info-item">
      <b>Views: {{views}}</b>
    </p>
    <p class="info-item">
      <b>Comments: {{comments}}</b>
    </p>
    <p class="info-item">
      <b>Downloads: {{downloads}}</b>
    </p>
  </div>
</div>

{{/each}}